@font-face {
  font-family: 'Anonymous Pro';
  src: url('./anonymous-pro/AnonymousPro-Regular.ttf') format('truetype')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: 'Anonymous Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
